/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background-color: #efefef;
}
#intro-page {
  overflow-y:hidden;
  margin: 0; height: 100%; overflow: hidden;
}
/*--------------------------------------------------------------
# Sections General
------------------------------------------------*/
#section {
  padding: 20px 50px 80px 50px;
  overflow: hidden;
 margin-left: 60px; 
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  color: #173b6c;
}
.section-title h2::after {
  content: '';
  position: relative;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  height: 80px;
  background: rgba(25, 28, 31, 0.8);
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.navbar-nav {
  float:none;
  margin:0 auto;
  text-align: center;
}

.navbar-toggler:focus {
  outline: 0;
  color: white;
}
.navbar-toggler .navbar-toggler-icon { 
  background-image: url( 
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(128, 128, 128, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 
.navbar-toggler {
  outline: 0;
  color: white;
  border-color: gray; 
}
.navbar-nav > .active {
  background-color: #1e5294;
  color : white;
  border-radius: 25px;
  font-family: 'Trebuchet MS';
  border: 2px solid #1e5294;
}
.navbar-nav > .active a{
  color : white;
}
.navbar-nav >  a{
  color : white;
  width: 150px;
}
.navbar-title {
  color: white;
}
.nav-item > a:hover {
  color : white;
}
ul li{
list-style:none;
margin: 10px
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  top: cover;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}
#hero h1 {
  margin: 0 0 10px 0;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 64px;
}
#hero h2 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro-page {
  width: 100%;
  height: 100vh;
  background: url("../images/main-bg.png");
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
.intro {
  height: 100vh;
  position: relative;
  color: #fff;
}
.intro-content h1 {
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 64px;
}
.intro-content h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 35px;
  color: white;

}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .role {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
.about .description {
  font-family: 'Roboto', sans-serif;
  color: #5f5d5d;
  font-size: 15px;
}
.about .info-detail {
  padding-left: 10px;
  color: black;
  font-family: 'Roboto', sans-serif;
}
.about .hello-text {
  font-family: 'Lobster', cursive;
  font-family: 'Work Sans', sans-serif;  
  color: #1e5294;
  font-size: 20px;
}
.about .img-circle {
  margin-top: 10px;
  margin-left: -10px;
  border-radius: 25px;
  border: 2px solid #1e5294;
  padding: 20px;
}
.info .fa {
  color : #756dfa;
  size: 20ch;
}
.social-links a{
  text-align: center;
  float: left;
  width: 36px;
  height: 36px;
  border: 1px solid #909090;
  border-radius: 100%;
  margin-right: 10px; 
  font-size: 18px;
  line-height: 38px;
  color : black;
} 

/*--------------------------------------------------------------
  Resume 
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #1e5294;
}

.resume .resume-item {
  padding: 0 0 0px 20px;
  position: relative;
}

.resume .resume-item h4{
  line-height: 18px;
  font-size: 18px;
  font-weight: 550;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  display: inline;
}
.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 10px;
  font-weight: 500;
  margin-bottom: 10px;
  font-style: italic;
  display: inline;

}
.resume .work-title {
  display: block;
  padding-bottom: 10px;
  font-size: 15px;
  font-style: italic;
}
.resume .resume-item::before {
  content: '';
  position: absolute;
  left: 0px;
  top: 7px;
  border: 5px solid #1f5297;
  border-radius: 50px;
}
.resume p {
  font-style: italic;
}
.download {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  width: 30%;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contact .title {
  margin-left: 20px;
  padding-left: 20px;
}

.contact .info i {
  font-size: 20px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #050d18;
}
.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #173b6c;
}
.contact .input-label {
  color: black;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.card{
  margin-bottom: 30px;
  width: 200px;
  border: 1px solid blueviolet;
  border-radius: 10px;
}
.card-title {
  color: black;
  font-family: 'Trebuchet MS';
  font-style: italic;
  font-size: 20px;
  color: #212529;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.card-img-top {
  width: 200px;
  padding: 10px;
}
.modal-button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 15px;
  width: 50px;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  color: white;
  text-align: center;
}

